* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 100px;
    height: 250px;
    min-height: 400px;
    margin: 20px auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
    "a1" "a2" "a3" "a4" "a5"
    "a6" "a7" "a8" "a9" "a10"
}

.elemento-01 {grid-area: a1;}
.elemento-02 {grid-area: a2;}
.elemento-03 {grid-area: a3;}
.elemento04 {grid-area: a4;}
.elemento05 {grid-area: a5;}
.elemento06 {grid-area: a6;}
.elemento07 {grid-area: a7;}
.elemento08 {grid-area: a8;}
.elemento09 {grid-area: a9;}
.elemento10 {grid-area: a10;}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
